config SND_AML_SOC
	tristate "Audio for Amlogic Meson SoC"
	depends on PLAT_MESON
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Amlogic I2S interface. You will also need
	  to select the audio interfaces to support below.

config SND_AML_M1
	tristate "M1 evaluation board with internel audio dac"
	depends on SND_AML_SOC
	depends on ARCH_MESON1

config SND_AML_M1_MID_WM8900
	tristate "AML6236 MID board with WM8900"
	depends on SND_AML_SOC
        select SND_SOC_WM8900 if SND_AML_M1_MID_WM8900

config SND_AML_M1_ARMDEV_WM8900
	tristate "AML8726M ARM Dev board with WM8900"
	depends on SND_AML_SOC
	select SND_SOC_WM8900 if SND_AML_M1_ARMDEV_WM8900

config SND_AML_M1_MID_RT5621
	tristate "AML8726M MID board with RT5621"
	depends on SND_AML_SOC
	select SND_SOC_RT5621 if SND_AML_M1_MID_RT5621

config SND_AML_M2
	tristate "M2 evaluation board with internal audio codec"
	depends on SND_AML_SOC
	depends on ARCH_MESON2

config SND_AML_M3
	tristate "M3 evaluation board with internal audio codec"
	depends on SND_AML_SOC
	depends on ARCH_MESON3

config SND_AML_M6_RT5631
	tristate "M6 evaluation board with RT56331"
	depends on SND_AML_SOC
	select SND_SOC_RT5631 if SND_AML_M6_RT5631

config SND_AML_M6_WM8960
	tristate "M6 evaluation board with WM8960"
	depends on SND_AML_SOC
	select SND_SOC_WM8960 if SND_AML_M6_WM8960

config SND_AML_M_DUMMY_CODEC
    tristate "AML M series board with DUMMY_CODEC"
    depends on SND_AML_SOC
    select SND_SOC_DUMMY_CODEC if SND_AML_M_DUMMY_CODEC
